:root {
    --main-bg-color: #7D84B2;
    --primary-btn-color: #DBF4A7;
    --primary-btn-hover-color: #b7cb8c;
    --secondary-btn-color: #F9F9ED;
    --secondary-btn-hover-color: #bdbdb4;
    --primary-container-color: #8E9DCC;
    --secondary-container-color: #D9DBF1;
    --secondary-container-hover-color: #c7c9f3;
}

#reset-this-root {
    all: initial;
}

body {
    font-family: 'Inter', sans-serif;

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background-color: var(--main-bg-color);
    color: white;
}

h1, h2, h3, p {
    padding: 0;
    margin: 0;
}
